<!-- _modal.html.erb -->
<div
  data-modal-target="overlay"
  data-action="window:keydown.escape->modal#close click->modal#outsideClick"
  data-action="window:keydown.escape->modal#close"
  class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-50 transition-opacity duration-300 ease-out opacity-0"
>
  <div
    data-modal-target="content"
    class="bg-white rounded-xl shadow-xl p-6 max-w-lg w-full relative transform scale-95 transition-all duration-300 ease-out opacity-0"
  >
    <button
      type="button"
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-600"
      data-action="click->modal#close"
    >
      ✕
    </button>

    <%= yield %>
  </div>
</div>