<!-- app/views/pages/home.html.erb -->
<div data-controller="hello">
</div>

<div data-controller="greets">
<p data-greets-target="name2">hola desde el name 2 </p>

  <p data-greets-target="name2">soy el name 2</p>
  <button data-action="click->greets#greet">Say Hello</button>


  <input data-greets-target="name">
  <button data-action="click->greets#greeting">Greet</button>
  <button data-action="click->greets#greeting2">Greet2</button>
  <button data-action="click->greets#bye">Bye</button>
  <p data-greets-target="output"></p>
</div>
